@{
    ViewData["Title"] = "Plačilo izvedeno";
}


<div class="zapolniStran text-center mb-5">
    <h1 class="pt-5 pb-3">Plačilo uspešno izvedeno!</h1>
    <div class="text-center my-3"><i class="fas fa-cash-register fa-10x green-text"></i></div>
    <div>
        <a asp-action="Index" asp-controller="Home">Domov</a>
    </div>
</div>
