@model Voleska.ViewModel.OpcijaViewModel;

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Opcija</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="izdelekId" value="@ViewBag.IzdelekId" />
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <img id="output" class="img-fluid" width="100" asp-append-version="true" />

            <div class="form-group pt-2">
                <label for="slika" class="btn btn-info control-label">Dodaj sliko</label>
                <input type="file" accept="image/*" onchange="loadFile(event)" asp-for="Slika" id="slika" class="form-control" style="display:none" />
                <span asp-validation-for="Slika" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Zaloga" /> @Html.DisplayNameFor(model => model.Zaloga)
                </label>
            </div>

            <div class="form-group">
                <label asp-for="TipOpcijeID" class="control-label"></label>
                <select asp-for="TipOpcijeID" class="form-control" asp-items="ViewBag.TipOpcijeID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Details" asp-controller="Izdelki" asp-route-id="@ViewBag.IzdelekId">Nazaj</a>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
