@model Voleska.ViewModel.TipIzdelkaViewModel

@{
    ViewData["Title"] = "Ustvari";
}

<nav aria-label="breadcrumb" class="">
    <ol class="breadcrumb bg-white d-flex justify-content-center">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-izbira="domov" class="customColor">Domov</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Katalog" asp-action="Index" class="customColor">Katalog</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="TipiIzdelkov"  class="customColor">Tipi izdelkov</a></li>
        <li class="breadcrumb-item active">Ustvari</li>
    </ol>
</nav>

<h1 class="text-center mb-4">Ustvari tip izdelka</h1>

<hr />
<div class="row d-flex justify-content-center">
    <div class="col-md-4 d-flex justify-content-center">
        <form asp-action="Create" enctype="multipart/form-data" class="needs-validation" novalidate>
           
            <div class="form-group md-form md-outline">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control z-depth-1" required />
                
                <div class="valid-tooltip">
                    Izgleda okej!
                </div>
                <div class="invalid-tooltip">
                    <span id="errorMessage">Ime je obvezno!</span>
                </div>
            </div>
          

            <div class="no-display" id="prikazSlike">
                <img id="output" src="~/katalogSlike/" asp-append-version="true" class="z-depth-1 img-thumbnail d-flex justify-content-center" width="290" />
            </div>        
            <div class="input-group z-depth-1">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="slika">Naloži</span>
                </div>
                <div class="custom-file ">
                    <input type="file" class="custom-file-input" id="slika"
                           aria-describedby="slika" asp-for="Slika" required >
                    <label class="custom-file-label" asp-for="Slika">Izberite datoteko...</label>
                </div>
                <div class="valid-tooltip">
                    Izgleda okej!
                </div>
                <div class="invalid-tooltip">
                    Slika je obvezna!
                </div>
            </div>
            
            <div class="form-group d-flex justify-content-center mt-5 mb-0">
                <input type="submit" value="Ustvari" class="btn btn-cyan" />
            </div>
        </form>
    </div>
    
</div>

<div class="text-center">
    <a asp-action="Index" class="customColor">Nazaj na seznam</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>


        $(document).ready(function () {


            $('input[type="file"]').change(function () {
                $('#prikazSlike').removeClass("animated fadeIn");
                $('#prikazSlike').addClass("d-flex justify-content-center mb-4");
                readURL(this);
            });


            $('input[type="text"]').on('change keyup paste', function (event) {
                validirajAjax(event);
            });
        });




        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#output').attr('src', e.target.result);
                    $('#prikazSlike').removeClass("animated fadeOut");
                    $('#prikazSlike').addClass("animated fadeIn");
                    $('#prikazSlike').removeClass("no-display");
                }

                reader.readAsDataURL(input.files[0]); // convert to base64 string
            }
        }


        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {

                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();

    function validirajAjax(vrednostInput) {
        var vrednost = vrednostInput.target.value;
        
        $.ajax({
            type: "POST",
            url: '@Url.Action("Preveri", "TipiIzdelkov")',
            data: { ime: vrednost },
            success: function (data) {

                
                if (data) {

                   
                    $('#errorMessage').text("Ime že obstaja!");
                   
                    vrednostInput.target.setCustomValidity('Bla bla');
                } else {
                    
                    $('#errorMessage').text("Ime je obvezno!");
                   
                    vrednostInput.target.setCustomValidity('');
                }

            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
</script>
}
