@model Voleska.Models.TipIzdelka

@{
    ViewData["Title"] = "Podrobnosti";
}
<nav aria-label="breadcrumb" class="">
    <ol class="breadcrumb bg-white d-flex justify-content-center">
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Home" asp-action="Index" asp-route-izbira="domov" class="customColor">Domov</a></li>
        <li class="breadcrumb-item"><a asp-area="" asp-controller="Katalog" asp-action="Index" class="customColor">Katalog</a></li>
        <li class="breadcrumb-item"><a asp-action="Index" asp-controller="TipiIzdelkov" class="customColor">Tipi izdelkov</a></li>
        <li class="breadcrumb-item active">Podrobnosti</li>
    </ol>
</nav>
<h1 class="text-center">@Html.DisplayFor(model => model.Ime)</h1>
<hr />
<div>
    <div class="justify-content-center d-flex my-4">
        <img src="~/katalogSlike/@Model.Slika" alt="thumbnail" class="img-thumbnail z-depth-1">
    </div>
</div>
<div class="d-flex justify-content-center">
    <a asp-action="Edit" asp-route-id="@Model.ID" class="mr-1 customColor">Uredi</a> |
    <a asp-action="Index" class="ml-1 customColor">Nazaj na seznam</a>
</div>
