@model IEnumerable<Voleska.Models.Narocilo>


@{

    var steviloIzdelkovVKosarici = 0;

    @foreach (var ustreznoNarocilo in Model)
    {

        steviloIzdelkovVKosarici += ustreznoNarocilo.Kolicina;

    }
<span @*data-toggle="modal" data-target="#fullHeightModalRight"*@>
    <a  id="poglejKosarico" class="nav-link kosarica" data-toggle="tooltip" data-placement="bottom" title='Košarica'  asp-area="" asp-controller="Katalog" asp-action="PoglejKosarico" asp-route-transakcijaId="@ViewBag.TransakcijaID">
        <span>
            <i class="fa fa-shopping-cart" style='font-size:24px'></i>
            <span id="skupnaKolicina" class="badge badge-danger cartNumber animated fadeIn delay-1s">
                @await Component.InvokeAsync(nameof(Voleska.ViewComponents.ViewComponents.SkupnaKolicinaVC), new { skupnaKolicina = steviloIzdelkovVKosarici })

            </span>
        </span>   
    </a>
</span>
}
