@using Microsoft.Extensions.Options
@inject IOptions<ReCAPTCHASettings> GooglereCAPTCHA
@{
    ViewData["Title"] = "Naslovna stran";
}

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{

    var status = "";
}

@if (ViewBag.ReCaptchaResponse != null)
{
    if (ViewBag.ReCaptchaResponse == true)
    {
        status = "bg-info";
    }
    else
    {
        status = "bg-danger";
    }
    <div id="toast" class="toast text-white @status animated fadeInLeft" data-autohide="false">
        <div class="card-header text-white @status">
            <strong class="mr-auto text-white font-weight-bold">ReCAPTCHA</strong>
            <button id="close" type="button" class="close" data-dismiss="toast" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="toast-body text-white">
            @ViewBag.ReCaptchaInfo
        </div>
    </div>


}

<div class="row">
    <div id="oMeni" class="col-12 scrollspy-example mt-4" data-spy="scroll" data-target="#spyNav" data-offset="0">
        <h2 class="h1-responsive font-weight-bold text-center my-4 display-1">O meni</h2>
        <p class="mb-xl-5 mt-3 text-center bigLineHeight">
            Vas je kdaj zanimalo, kdo stoji za umetniškim imenom Voleska? 🙂 <br />

            Mislim, da je že čas, da se vam predstavim :))<br />
        </p>
        <div class="row d-flex justify-content-between wow animated fadeIn">
            <div class="col-xl-6 text-center bigLineHeight">
                <p class="pt-xl-5 pb-2 ">
                    Sem Urška.<br />
                    Zase bi rekla, da sem mirna, sočutna, razumevajoča oseba, polna idej 🙂<br />
                    Zelo rada se potepam po naravi, odkrivam kotičke Slovenije in sveta, ustvarjam v kuhinji z naravnimi sestavinami in se družim z najdražjimi 🙂<br />
                </p>
                <p class="pb-2">

                    Večino prostega časa posvetim Voleski in z veseljem ugotavljam, da sem našla svoje življenjsko poslanstvo. Uživam v iskanju inspiracije, risanju, oblikovanju, brušenju, barvanju ter s tem prenašam pozitivno energijo tudi na mojstrovinice, ki vam jih predstavljam. 🙂<br />

                    Moj cilj je ustvarjati unikatni nakit, ki bo zaključil vašo lepoto in poudaril edinstvenost, hrabrost ter nežnost. ❤<br />
                </p>
                <p class="">
                    Tukaj sem, da prisluhnem vašim željam in da skozi pogovor najdemo barvo vaše duše, željeno obliko in ustvarimo sporočilo, ki ga bo nakit nosil. Verjamem, da lahko le na tak način dosežem vaše (in moje) zadovoljstvo ❤<br />

                </p>
            </div>
            <div class="col-xl-6 d-flex align-items-center justify-content-center"><img src="~/slike/Vizitka.jpg" class="img-fluid z-depth-2 rounded w-75" asp-append-version="true" /></div>
        </div>
        <div class="row my-xl-5 mt-5 wow animated fadeIn">
            <div class="col-xl-6 d-flex justify-content-center">

                <!--Carousel Wrapper-->
                <div id="carousel-example-1z" class="carousel slide carousel-fade  rounded w-75 d-flex align-items-center" data-ride="carousel">
                    <!--Indicators-->
                    <ol class="carousel-indicators mb-xl-5">
                        <li data-target="#carousel-example-1z" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="1"></li>
                        <li data-target="#carousel-example-1z" data-slide-to="2"></li>
                    </ol>
                    <!--/.Indicators-->
                    <!--Slides-->
                    <div class="carousel-inner z-depth-2 rounded" role="listbox">
                        <!--First slide-->
                        <div class="carousel-item active">
                            <img class="d-block w-100 rounded" src="~/slike/Vizitka4.jpg"
                                 alt="First slide">
                        </div>
                        <!--/First slide-->
                        <!--Second slide-->
                        <div class="carousel-item">
                            <img class="d-block w-100 rounded" src="~/slike/Vizitka5.jpg"
                                 alt="Second slide">
                        </div>
                        <!--/Second slide-->
                        <!--Third slide-->
                        <div class="carousel-item">
                            <img class="d-block w-100 rounded" src="~/slike/Vizitka6.jpg"
                                 alt="Third slide">
                        </div>
                        <!--/Third slide-->
                    </div>
                    <!--/.Slides-->
                    <!--Controls-->
                    <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--/.Controls-->
                </div>
                <!--/.Carousel Wrapper-->
            </div>
            <div class="col-xl-6 text-center d-flex flex-column align-items-center bigLineHeight">
                <p class="pt-5">
                    Voleska je moja druga identiteta, delo in dolgoletna ljubezen. Rada imam svoje stranke in z veseljem se vam individualno posvetim. Obožujem umazane roke od barve in prahu ter glavo, polno novih idej.
                </p>
                <p class="">
                    Če dobro pomislim, sem ena taka zanimiva mešanica. 😀
                    Na prvi pogled mirna in nežna, kasneje pa ven udari še moja odštekana, odprta, zabavna in nomadska narava.🌱
                </p>
                <p class="pb-xl-5">
                    V dobrih treh letih ustvarjanja sem se naučila spretno mešati perfekcionizem z drugačnostjo in ljubeznijo do življenja.
                    To mi omogoča, da ohranjam ravnovesje med abstrakcijo in popolnostjo linij, v njuni sinergiji pa nastajajo izdelki, ki nas vedno znova navdušijo. ✨
                </p>

            </div>
        </div>
        <div class="row my-xl-5 mt-0 wow animated fadeIn bigLineHeight">
            <div class="col-lg-6 text-center d-flex flex-column align-items-center justify-content-center">
                <p class="pt-xl-5 pb-2">
                    Cel proces ustvarjanja mi daje več življenja, kot sem si sploh predstavljala, da je možno. 💞

                    Skozi Volesko sem spoznala svoje poslanstvo, stil življenja, ki mi je pisan na kožo in od tu naprej, z vašo neskončno podporo, vztrajno in trdno gradim svojo pot.
                </p>
                <p class="pb-2">
                    Pred leti sem še pridno hodila na faks in ga uspešno zaključila. Nikoli si nisem predstavljala, da se bosta nedolžna želja in potreba po lesenem nakitu, odvili tako, da bo to nekoč moja služba. Pa je. Moja sreča, moje življenje. In to kakšno življenje! 💞
                </p>
                <p class="pb-5">
                    Samo ti veš, kaj je najbolje zate. Sledi svoji strasti. Uspelo ti bo. ✨

                    Zdaj pa šibam, naročila čakajo. 😊🧚
                </p>

            </div>
            <div class="col-lg-6 d-flex justify-content-center"><img src="~/slike/Vizitka2.jpg" class="img-fluid z-depth-2 rounded" width="350" asp-append-version="true" /></div>
        </div>


        <hr />
        <div class="row wow animated fadeInUp">
            <div class="col-12 d-flex justify-content-center">
                <img src="~/slike/Voleska.jpg" class="img-fluid" asp-append-version="true" />
            </div>
        </div>
        <hr />
    </div>
</div>

<div class="row wow animated fadeIn">
    <div id="kontakt" class="col-12 scrollspy-example mt-4" data-spy="scroll" data-target="#spyNav" data-offset="0">

        <!--Section: Contact v.2-->
        <section class="mb-4">

            <!--Section heading-->
            <h2 class="h1-responsive font-weight-bold text-center my-4">Kontakt</h2>
            <!--Section description-->
            <p class="text-center w-responsive mx-auto mb-5 lead">
                Imate kakšno vprašanje? Izpolnite spodnji obrazec in pomagali vam bomo.
            </p>

            <div class="row">

                <!--Grid column-->
                <div class="col-md-9 mb-md-0 mb-5">
                    <form id="contact-form" asp-action="Kontakt" method="POST">

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-3">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" class="form-control" required>
                                    <label for="name" class="">Ime</label>
                                </div>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-md-3">
                                <div class="md-form mb-0">
                                    <input type="text" id="surname" name="surname" class="form-control" required>
                                    <label for="surname" class="">Priimek</label>
                                </div>
                            </div>
                            <!--Grid column-->
                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="email" id="email" name="email" class="form-control" required>
                                    <label for="email" class="">E-naslov</label>
                                </div>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="subject" name="subject" class="form-control" required>
                                    <label for="subject" class="">Tema</label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->
                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">

                                <div class="md-form">
                                    <textarea type="text" id="message" name="message" rows="4" class="form-control md-textarea" required></textarea>
                                    <label for="message">Vaše sporočilo</label>
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->
                        <div class="d-flex justify-content-center justify-content-md-start">
                            <div id="recaptcha" class="mb-2"></div>
                        </div>
                        

                        <div class="text-center text-md-left ml-0">

                            <input type="submit" class="btn customGreenBg ml-0" value="Pošlji" />
                        </div>
                        <div class="status"></div>

                    </form>


                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-3 text-center">
                    <ul class="list-unstyled mb-0">
                        <li>
                            <i class="fas fa-map-marker-alt fa-2x text-danger"></i>
                            <p class="mb-0">Ulica Slavka gruma 66</p>
                            <p>8000 Novo mesto</p>
                        </li>

                        <li>
                            <i class="fas fa-phone mt-4 fa-2x text-success"></i>
                            <p>+386 (0) 40 888 777</p>
                        </li>

                        <li>
                            <i class="fas fa-envelope mt-4 fa-2x text-warning"></i>
                            <p>voleska.info@gmail.com</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

            </div>

        </section>
        <!--Section: Contact v.2-->
    </div>
</div>
@section scripts
{
    <script>
        window.onload = function () {
            var recaptcha = document.querySelector('#g-recaptcha-response');

            if (recaptcha) {
                recaptcha.setAttribute("required", "required");
            }
        };

        $(document).ready(function () {

            $('#close').on('click', function (event) {
                event.preventDefault();
                $('#toast').removeClass("animated fadeInLeft");
                $('#toast').addClass("animated fadeOutLeft").remove();

            });

            setTimeout(function () {
                $('#toast').addClass("animated fadeOutLeft");
                
                setTimeout(function () {
                    
                    $('#toast').remove();
                }, 3000);

            }, 2000);

                
            /*
                $('#navigacija').append(`
                    <div  id="domov" class= "view intro-2 animated fadeIn scrollspy-example z-depth-1" data-spy="scroll" data-target="#spyNav" data-offset="0" style="">
                        <div class="full-bg-img" >
                            <div  class="mask rgba-black-light flex-center">
                                <div class="col-md-12 mb-4 white-text text-center ">
                                    <h3 class="display-3 font-weight-bold white-text mb-0 pt-md-5 pt-5 animated fadeInLeft slow">Izbran lesen nakit</h3>
                                    <hr class="hr-light my-4 w-75 mx-auto">
                                    <h4 class="subtext-header mt-2 mb-4 animated fadeInRight slow">
                                    Etične in unikatne živalice, cvetlice ter druge naravne lepote v obliki lesenih uhančkov in brošk
                                    </h4>
                                    <a asp-controller='Katalog' asp-action='Index' class=" btn btn-outline-white animated flipInX delay-2s" id="roundMe">
                                        Katalog izdelkov
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div >`);
             */

            $('#navigacija').append(
                $('<div/>', { 'id': 'domov', 'class': 'view intro-2 animated fadeIn scrollspy-example z-depth-1', 'data-target': '#spyNav', 'data-offset': '0' }).append(
                    $('<div/>', { 'class': 'full-bg-img' }).append(
                        $('<div/>', { 'class': 'mask rgba-black-light flex-center' }).append(
                            $('<div/>', { 'class': 'col-md-12 mb-4 white-text text-center' }).append(
                                $('<h3/>', { 'class': 'display-3 font-weight-bold white-text mb-0 pt-md-5 pt-5 animated fadeInLeft slow', text: 'Izbran lesen nakit' })
                            ).append(
                                $('<hr/>', { 'class': 'hr-light my-4 w-75 mx-auto' })
                            ).append(
                                $('<h4/>', { 'class': 'subtext-header mt-2 mb-4 animated fadeInRight slow', text: ' Etične in unikatne živalice, cvetlice ter druge naravne lepote v obliki lesenih uhančkov in brošk' })
                            ).append(
                                $('<a />', {

                                    "href": "/Katalog/Index",
                                    "class": 'btn btn-outline-white animated flipInX delay-2s',
                                    'id': 'roundMe',
                                    text: 'Katalog izdelkov'
                                })
                            )
                        )
                    )
                )
            )


        });
    </script>

    <script src="https://www.google.com/recaptcha/api.js?render=@GooglereCAPTCHA.Value.ReCAPTCHA_Site_Key"></script>
    <script>
        grecaptcha.ready(() => {
            grecaptcha.render('recaptcha', {
                'sitekey': '@GooglereCAPTCHA.Value.ReCAPTCHA_v2_Site_Key'
            });
        });

        /*
        setInterval(function () {
            grecaptcha.reset();
        }, 120000);
        */
    </script>

}