/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}


/*Moj CSS*/

.view {
    background: url("../slike/Jumbotron.jpg")no-repeat center center;
    background-size: cover;
    
}


.customGradient {
    background: linear-gradient(to bottom, #051937, #003758, #005873, #007a86, #2c9c91);
}

.navbar {
    background-color: transparent;
}

.top-nav-collapse {
    background-color: #480048 !important;
}

@media only screen and (max-width: 768px) {
    .navbar {
        background-color: #480048 !important;
    }
}

html,
body,
header,
.view {
    height: 100%;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.kolicina {
    width: 40px;
    text-align: center;
}

.plus, .minus, .kolicina {
    border-radius: 0;
    border: solid grey 1px;
    height: 40px;
}

.rating-header {
    margin-top: -10px;
    margin-bottom: 10px;
}

.btnrating:hover {
    background-color: #FF8800;
    border: solid #FF8800 1px;
}

.izklopi {
    background-color: #808080;
    pointer-events: none;
}

.no-display {
    display:none !important;
}

.no-visibility {
    visibility: hidden;
}

.display-inline {
    display:inline;
}


.no-display-slow {
    display: none;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
}

/*Navigacija*/
.moveMe {
    
    left: -100px !important;
}
.dropDownCustom {
    border-radius: 5px;
    position: relative;
    top: 0;
    right: 0;
    background-color: white;
    color: black;
    transition: all 0.2s !important;
    -o-transition: all 0.2s !important;
    -moz-transition: all 0.2s !important;
    -webkit-transition: all 0.2s !important;
}

.dropDownCustom:hover{
    background-color: #480048 !important;
    color: white !important;
}

.izbrana {
        background-color: #480048 !important;
        color: white !important;
}

.setColor {
    background-color: #480048 !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: rgba(255,255,255,0.1) !important;
}


#roundMe {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    line-height: 0.8;
    padding: 18px 30px;
    border-radius: 1px;
    letter-spacing: 0.5px;
    cursor: pointer;
    border-radius: 100px;
}

.roundMe {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    height: 50px;
    line-height: 0.8;
    padding: 18px 30px;
    border-radius: 1px;
    letter-spacing: 0.5px;
    cursor: pointer;
    border-radius: 100px;
}



.btn-outline-unique2 {
    color: #480048 !important;
    background-color: transparent !important;
    border: 2px solid #480048 !important
}

/* konec navigacije */

/* burger meni*/
/* Icon 1 */

.animated-icon3 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

    .animated-icon3 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }

    .animated-icon3 span {
        background: #f3e5f5;
    }


        /* Icon 4 */

        .animated-icon3 span:nth-child(1) {
            top: 0px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon3 span:nth-child(2) {
            top: 10px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

        .animated-icon3 span:nth-child(3) {
            top: 20px;
            -webkit-transform-origin: left center;
            -moz-transform-origin: left center;
            -o-transform-origin: left center;
            transform-origin: left center;
        }

    .animated-icon3.open span:nth-child(1) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        top: 0px;
        left: 8px;
    }

    .animated-icon3.open span:nth-child(2) {
        width: 0%;
        opacity: 0;
    }

    .animated-icon3.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        top: 21px;
        left: 8px;
    }
/* konec burger menija*/
.card-header{
    border: none !important;
}

.keepBlack {
    color: black !important;
}

.grow {
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

    .grow:hover {
        -webkit-transform: scale(1.2);
        -moz-transform: scale(1.2);
        transform: scale(1.2);
    }

.roundButton {
    border: none;
    outline: none;
    height: 40px;
    width: 40px;
    color: white;
    border-radius: 50% !important;
    text-align: center;
    position: relative;
}
    /*
    .roundButton:hover{
        font-size: 1.33em;

    }
    */

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel, .customCard {
    width: 100%/*18.125rem*/;
    height: auto;
}

.customCard {
    width: 85% !important;
}

/* Very small phone screens*/
@media only screen and (max-width: 400px) {
    .navbar .nav-flex-icons {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    }

    .nav-item {
        border-bottom: solid white 1px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .socialIcon {
        display: none !important;
    }

    
}


@media only screen and (max-width: 764px) {

    .orderBy {
        width: 90% !important;
        margin: auto;
    }

    .poravnaj {
        transform: translate3d(0px, 46px, 0px) !important;
    }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

}



/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 576px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .searchInput {
        display:flex;
        justify-content:flex-start !important;
    }
}

@media only screen and (max-width: 991px) {

    .moveMe {
        right: 0 !important;
    }

    #navbarSupportedContent {
        background-color: #2BBBAD;
    }

    .correctNavbar {
        background-color: #480048;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    #navbarSupportedContent {
        background-color: transparent;
    }

    .correctNavbar {
        background-color: transparent;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
} 