@model Voleska.Models.Blog

<tr>

    <th>Uporabnik</th>
    <th>Vsebina</th>
    <th>Komentar dodan</th>
    <th>Število Lajkov</th>
    <th>Število Dislajkov</th>
    <th></th>
</tr>

@foreach (var item in Model.Komentarji)
{
    var novKomentar = "";

    if (item.ID == ViewBag.NovKomentar)
    {
        novKomentar = "animated fadeInUp";
    }
    else
    {

    }
    <tr class="@novKomentar" id="komentar-@item.ID">

        <td>
            @Html.DisplayFor(modelItem => item.ApplicationUser.UserName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Vsebina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Dodan)
        </td>
        <td id="like-@item.ID">
            @await Component.InvokeAsync(nameof(Voleska.ViewComponents.ViewComponents.SteviloLikeKomentarVC), new { steviloLike = item.SteviloLike })
        </td>
        <td id="dislike-@item.ID">
            @await Component.InvokeAsync(nameof(Voleska.ViewComponents.ViewComponents.SteviloDislikeKomentarVC), new { steviloDislike = item.SteviloDislike })
        </td>
        <td>
            @{
                @if (User.Identity.IsAuthenticated)
                {

                    var najdiLike = 0;
                    var najdiDislike = 0;

                    @foreach (var lajkKomentarjevNotranja in item.LajkaniKomentarji)
                    {
                        if (item.ID == lajkKomentarjevNotranja.KomentarID && lajkKomentarjevNotranja.Lajk == true && lajkKomentarjevNotranja.ApplicationUserID == ViewBag.UserID)
                        {
                            najdiLike = 1;
                        }
                        else if (item.ID == lajkKomentarjevNotranja.KomentarID && lajkKomentarjevNotranja.Lajk == false && lajkKomentarjevNotranja.ApplicationUserID == ViewBag.UserID)
                        {
                            najdiDislike = 1;
                        }

                    }

                    @foreach (var lajkKomentarjev in item.LajkaniKomentarji)
                    {


                        var obstaja = (lajkKomentarjev.ApplicationUserID == ViewBag.UserID && lajkKomentarjev.KomentarID == item.ID) ? true : false;

                        var lajk = (lajkKomentarjev.Lajk == true && obstaja) ? "disabled" : "";
                        var dislajk = (lajkKomentarjev.Lajk == false && obstaja) ? "disabled" : "";

                        var lajkaDruge = (najdiLike == 1) ? "disabled" : "";
                        var dislajkaDruge = (najdiDislike == 1) ? "disabled" : "";



                        if (obstaja)
                        {

                            <div id="likeSection2-@lajkKomentarjev.KomentarID" class="d-flex">

                                @await Component.InvokeAsync(nameof(Voleska.ViewComponents.ViewComponents.LajkKomentarVC), new { komentarId = lajkKomentarjev.KomentarID, blogId = Model.ID, like = lajk, dislike = dislajk })

                            </div>
                            break;

                        }
                        else if (lajkKomentarjev.ApplicationUserID != ViewBag.UserID && lajkKomentarjev.KomentarID == item.ID)
                        {

                            <div id="likeSection2-@lajkKomentarjev.KomentarID" class="d-flex">

                                @await Component.InvokeAsync(nameof(Voleska.ViewComponents.ViewComponents.LajkKomentarVC), new { komentarId = lajkKomentarjev.KomentarID, blogId = Model.ID, like = lajkaDruge, dislike = dislajkaDruge })

                            </div>

                            break;
                        }



                    }


                }
                else
                {

                <td>
                    <a class="nav-link text-white btn btn-primary" id="login" asp-area="Identity" asp-page="/Account/Login">Vpiši se!</a>
                </td>

            }
            }
            </td>
    <td class="d-flex align-items-center">
        @if (item.ApplicationUser.Id == ViewBag.UserID)
        {
            @await Component.InvokeAsync(nameof(Voleska.ViewComponents.ViewComponents.TooltipKomentarVC), new { komentarId = item.ID, blogId = item.BlogID })

        }


    </td>
        </tr>
    }
