@model Voleska.ViewModel.LajkAjaxViewModel

<span data-toggle="modal" data-target="#exampleModalCenter">
    <a data-toggle="tooltip" title="Izbriši" onclick="izbrisi(@Model.KomentarID, @Model.ID);"><i class="fa fa-times"></i></a>
</span>