
@model Voleska.Models.Izdelek

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Izdelek</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Ime" class="control-label"></label>
                <input asp-for="Ime" class="form-control" />
                <span asp-validation-for="Ime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opis" class="control-label"></label>
                <input asp-for="Opis" class="form-control" />
                <span asp-validation-for="Opis" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Podrobnosti" class="control-label"></label>
                <input asp-for="Podrobnosti" class="form-control" />
                <span asp-validation-for="Podrobnosti" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cena" class="control-label"></label>
                <input asp-for="Cena" class="form-control" />
                <span asp-validation-for="Cena" class="text-danger"></span>
            </div>
          
            <div class="form-group">
                <label asp-for="MaterialID" class="control-label"></label>
                <select asp-for="MaterialID" class ="form-control" asp-items="ViewBag.MaterialID"></select>
            </div>
            <div class="form-group">
                <label asp-for="TipIzdelkaID" class="control-label"></label>
                <select asp-for="TipIzdelkaID" class ="form-control" asp-items="ViewBag.TipIzdelkaID"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
