@page
@model Disable2faModel
@{
    ViewData["Title"] = "Izklopi dvonivojsko avtentikacijo (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>S klikom na gumb boste izklopili 2FA.</strong>
    </p>
    <p>
        Izklop 2FA ne spremeni ključa, ki se uporablja v avtenikacijskih aplikacijah. Če želite spremeniti ta ključ
        potem morate <a asp-page="./ResetAuthenticator">obnoviti avtentikacijski ključ.</a>

    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Izklopi 2FA</button>
    </form>
</div>
