@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Obnovi avtentikacijki ključ";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<div class="zapolniStran">
    <h4>@ViewData["Title"]</h4>
    <div class="alert alert-warning" role="alert">
        <p>
            <i class="fas fa-exclamation-triangle mr-2"></i>
            <strong>Če obnovite avtentikacijski ključ, vaša overitvena aplikacija ne bo delovala dokler je ne rekonfigurirate.</strong>
        </p>
        <p>
            Ta postopek izklopi 2FA dokler ne posodobite overitvene aplikacije.
            Če postopka ne dokončate, lahko izgubite dostop do vašega računa.
        </p>
    </div>
    <div>
        <form id="reset-authenticator-form" method="post" class="form-group">
            <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Obnovi avtentikacijski ključ</button>
        </form>
    </div>
</div>

