@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Pozabljeno geslo?";
}

<h1>@ViewData["Title"]</h1>
<h4>Vnesite vaš e-naslov.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" class=" needs-validation" novalidate">
            
            <div class="form-group md-form md-outline">
                <label asp-for="Input.Email">E-naslov</label>
                <input asp-for="Input.Email" class="form-control" required />
                <div class="valid-tooltip">
                    Izgleda okej!
                </div>
                <div class="invalid-tooltip">
                    <span >E-naslov je obvezen!</span>
                </div>
               
            </div>
            <button type="submit" class="btn btn-primary">Oddaj!</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>


        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>    

}
