@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potrditev pozabljenega gesla";
}
<div class="zapolniStran">
    <h1>@ViewData["Title"]</h1>
    <p>
        Prosimo preverite vaš elektronski naslov za resetiranje gesla!
    </p>

</div>

