@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Obnovitev pozabljenega gesla";
}

<h1>@ViewData["Title"]</h1>
<h4>Resetiraj svoje geslo.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" class="needs-validation" novalidate">

            <input asp-for="Input.Code" type="hidden" />
            <div class="form-group  md-form md-outline">
                <label asp-for="Input.Email">E-naslov</label>
                <input asp-for="Input.Email" class="form-control" required  />

                <div class="valid-tooltip animated fadeIn">
                    Izgleda okej!
                </div>
                <div class="invalid-tooltip animated fadeIn">
                    E-naslov je obvezen!
                </div>
            </div>
            <div class=" form-group md-form md-outline input-with-pre-icon">
                <i class="fas fa-lock  input-prefix"></i>
                <label asp-for="Input.Password">Geslo</label>
                <input asp-for="Input.Password" class="form-control" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{10,100}$" />
                <div class="valid-tooltip animated fadeIn">
                    Izgleda okej!
                </div>
                <div class="invalid-tooltip animated fadeIn">
                    <span asp-validation-for="Input.Password" class="text-white"></span>
                </div>

            </div>

            <div class=" form-group md-form md-outline input-with-pre-icon">
                <i class="fas fa-lock  input-prefix"></i>
                <label asp-for="Input.ConfirmPassword">Potrditev gesla</label>
                <input asp-for="Input.ConfirmPassword" class="form-control" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{10,100}$" />
                <div class="valid-tooltip animated fadeIn">
                    Izgleda okej!
                </div>
                <div class="invalid-tooltip animated fadeIn">
                    <span asp-validation-for="Input.ConfirmPassword" class="text-white"></span>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Obnovi!</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script>
        (function () {
            'use strict';
            window.addEventListener('load', function () {
                // Fetch all the forms we want to apply custom Bootstrap validation styles to
                var forms = document.getElementsByClassName('needs-validation');
                // Loop over them and prevent submission
                var validation = Array.prototype.filter.call(forms, function (form) {
                    form.addEventListener('submit', function (event) {
                        if (form.checkValidity() === false) {
                            event.preventDefault();
                            event.stopPropagation();
                        }
                        form.classList.add('was-validated');
                    }, false);
                });
            }, false);
        })();
    </script>
}
