@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Potrditev obnovitve gesla";
}

<div class="zapolniStran">
    <h1>@ViewData["Title"]</h1>
    <p>
        Vaše geslo je bilo obnovljeno. Prosimo <a asp-page="./Login">kliknite tukaj za prijavo</a>.
    </p>

</div>
