<div class="form-outline animated fadeIn">
    <textarea class="form-control" id="vsebina" rows="4" placeholder="Dodaj komentar..."></textarea>
</div>

<div class="alert alert-danger no-display my-3 animated fadeIn" role="alert" id="napaka"></div>

