
<div class="form-outline md-form amber-textarea active-amber-textarea animated fadeIn">
    <i class="fas fa-pencil-alt prefix"></i>
    <textarea id="vsebina" name="vsebina" class="md-textarea form-control p-3" rows="3"></textarea>
    <label for="vsebina">Dodaj @ViewBag.TipKomentarja...</label>
</div>

<div class="alert alert-danger no-display my-3 " role="alert" id="napaka">
</div>

