@model Voleska.ViewModel.BlogViewModel

@{
    ViewData["Title"] = "Create";
}


<h1>Create</h1>

<h4>Blog</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Naslov" class="control-label"></label>
                <input asp-for="Naslov" class="form-control" />
                <span asp-validation-for="Naslov" class="text-danger"></span>
            </div>
            <img id="output" class="img-fluid" width="100" asp-append-version="true" />

            <div class="form-group pt-2">
                <label for="slika" class="btn btn-info control-label">Dodaj sliko</label>
                <input type="file" accept="image/*" onchange="loadFile(event)" asp-for="Slika" id="slika" class="form-control" style="display:none" />
                <span asp-validation-for="Slika" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Povzetek" class="control-label"></label>
                <input asp-for="Povzetek" class="form-control" />
                <span asp-validation-for="Povzetek" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Clanek" class="control-label"></label>
                <input asp-for="Clanek" class="form-control" />
                <span asp-validation-for="Clanek" class="text-danger"></span>
            </div>
            
                <input  type="hidden" asp-for="Bloger" value="Urška Colarič" />
                

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
